---
layout: page
title: Electrical
permalink: /electrical/
---

<p> Team Optix 3749 Electrical Blog Posts </p>

{% if site.categories.electrical.size > 0 %}

  {% for post in site.posts %}

    {% if post.categories contains "Algorithm" and post.hide != true %}

      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>

    {% endif %}

  {% endfor %}

{% else %}

  <blockquote> Nothing here RIP </blockquote>

{% endif %}

<h4>Team Members:</h4>
<table style="text-align: center;">
  <tr id="table">

  </tr>
</table>