---
layout: categories
permalink: /categories/
title: Tags
search_exclude: true
---

<!DOCTYPE html>


<table id = "Table1">
    <tr>
        <tr>Header 1</tr>
        <tr>Header 2</tr>
    </tr>
initTable();

</table>

<script>
    function initTable(){
        var table = document.getElementById("Table1");
        if (site.categories.size > 0){
            for (c in site.categories){
                var row = table.insertRow(0);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                cell1.innerHTML = "#{{ c }}";
                cell2.innerHTML = " something ";
            }
        }
    }
</script>

{% if site.tags.size > 0 %}
<h2>Contents</h2>

  {% assign categories = "" | split:"" %}
  {% for c in site.categories %}
    {% assign categories = categories | push: c[0] %}
  {% endfor %}
  {% assign categories = categories | sort_natural %}

  <ul>
  {% for category in categories %}
    <li><a href="#{{ category }}">{{ category }}</a></li>
  {% endfor %}
  </ul>

  {% for category in categories %}
      <h3 id ="{{ category }}"><i class="fas fa-tags category-tags-icon"></i></i> {{ category }}</h3>
      <a name="{{ category | slugize }}"></a>
      {% for post in site.categories[category] %}
        {% if post.hide != true %}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <article class="archive-item">
          <p class="post-meta post-meta-title"><a class="page-meta" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>  • {{ post.date | date: date_format }}</p>
        </article>
        {% endif %}
      {% endfor %}
  {% endfor %}

{% endif %}
