<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="" alt=""></td>
        <td><a href="{{site.baseurl}}/Hacks/PythonLAD">Python Kernel</a></td>
        <td><a href="{{site.baseurl}}/Hacks/BashOne">Bash Kernel</a></td>
        <td><a href="{{site.baseurl}}/Hacks/JS">Javascript Kernel</a></td>
        <td><a href="{{site.baseurl}}/about/">About Me</a></td>
        <td><a href="{{site.baseurl}}/omega/jstable">Javascript Table</a></td>
        <td><a href="{{site.baseurl}}/Hacks/apihacks">Python API</a></td>
        <td><a href="{{site.baseurl}}/Hacks/memes">Second API</a></td>
    </tr>
</table>