<html>

<head>
   <title> Dark Hallways </title>

<meta charset="utf-8">
<link rel="stylesheet" href="newelement.scss"> 
</head>

<body style="background-color: black;">
    <div class="grid-container">
        <div id="slot1" name="slot" class="grid-item"> This </div>
        <div id="slot2" name="slot" class="grid-item"> Is </div>
        <div id="slot3" name="slot" class="grid-item"> A </div>
        <div id="slot4" name="slot" class="grid-item"> Demonstration</div>
        <div id="slot5"name="slot" class="grid-item"> of </div>
        <div id="slot6" name="slot" class="grid-item"> a </div>
        <div id="slot7" name="slot" class="grid-item"> new </div>
        <div id="slot8" name="slot" class="grid-item">grid </div>
        <div id="slot9" name="slot" class="grid-item"> element </div>
        <div id="slot10" name="slot" class="grid-item">that </div>
        <div id="slot11" name="slot" class="grid-item">is</div>
        <div id="slot12" name="slot" class="grid-item">adaptable</div>
        <div id="slot13" name="slot" class="grid-item">and</div>
        <div id="slot14" name="slot" class="grid-item">very</div>
        <div id="slot15" name="slot" class="grid-item">useful</div> 
    </div>
</body>

</html>